h2{
    color: #2d5cc4 ;
}
img:hover{
    position: relative;
    top: -3px;
    right: 3px;
 filter: grayscale(0%);
 transition: 700ms;
}
img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 8px 8px 12px gray;
    filter: grayscale(70%);
}